/**
 * Will make vertical margins of elements within a block to stay inside the block itself,
 * e.g. influencing the total height of the block.
 *
 */
.l-box {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
