/**
 * Generates the classes for foreground and background containers and elements using the
 * defined colours.
 *
 * TODO check where to move this file
 */

@for $i from 1 through length($color-base) {
    $col: nth($color-base, $i);

    .l-color--fg--base-#{$i} {
        &, &:link, &:visited, :link, :visited {
            color: $col;
        }
    }
    .l-color--bg--base-#{$i} {
        background-color: $col;
    }
    .l-color--bg--base-#{$i}--tb-gradient {
        @include linear-gradient(rgba(#fff, 0), rgba(#fff, .1), $fallback: $col);
    }
    .l-color--bg--base-#{$i}--lr-gradient {
        @include linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, .1), $fallback: $col);
    }
}
@each $color in $color-tfmw {
    $tag: nth($color, 1);
    $col: nth($color, 2);

    .l-color--fg--#{$tag} {
        &, &:link, &:visited, :link, :visited {
            color: nth($col, 1);
        }
    }
    .l-color--fg--#{$tag}--big {
        &, &:link, &:visited, :link, :visited {
            color: nth($col, 2);
        }
    }
    .l-color--fg--#{$tag}--dark {
        &, &:link, &:visited, :link, :visited {
            color: nth($col, 3);
        }
    }
    .l-color--fg--#{$tag}--dark--big {
        &, &:link, &:visited, :link, :visited {
            color: nth($col, 4);
        }
    }


    .l-color--bg--#{$tag} {
        background-color: nth($col, 1);
    }
    .l-color--bg--#{$tag}--big {
        background-color: nth($col, 2);
    }
    .l-color--bg--#{$tag}--dark {
        background-color: nth($col, 3);
    }
    .l-color--bg--#{$tag}--dark--big {
        background-color: nth($col, 4);
    }
}
