/**
 * Divider between block elements
 */

.l-div {
    margin-bottom: $base-margin * 1px;
}
.l-div--zero {
    margin-bottom: 0;
}
.l-div--half {
    margin-bottom: .5 * $base-margin * 1px;
}
.l-div--double {
    margin-bottom: $base-margin * 2px;
}
.l-div--triple {
    margin-bottom: $base-margin * 3px;
}
