/**
 * Dock is used as a sticky element within a container.
 * You can choose in which position it's anchored.
 */

@include media-generate('.l-dock') {
    position: relative;
    z-index: 10000;

    .l-dock-bar {
        z-index: 10010;
        position: absolute;
    }
    .l-dock-bar--full {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .l-dock-bar--top {
        top: 0;
        left: 0;
        right: 0;
    }
    .l-dock-bar--right {
        top: 0;
        right: 0;
        bottom: 0;
    }
    .l-dock-bar--bottom {
        left: 0;
        right: 0;
        bottom: 0;
    }
    .l-dock-bar--left {
        top: 0;
        left: 0;
        bottom: 0;
    }
}
