/**
 * Container that limits the width of the main content of the page.
 */

.l-page {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 2 * $slot-max-width + $base-margin * 1px;

    @include media('m-up') {
        max-width: 6 * $slot-max-width + 5 * $base-margin * 1px;
    }
}

@include media-generate('.l-page--v-inner') {
    padding: {
        left: $base-margin * 1px;
        right: $base-margin * 1px;
    }
}

.l-page--v-content {
    @include media('m-up') {
        max-width: 4 * $slot-max-width + 3 * $base-margin * 1px;
    }
}
.l-page--v-padded {
    @include media('m-up') {
        padding: {
            left: 5 * $base-margin * 1px;
            right: 5 * $base-margin * 1px;
        }
    }
}
