@mixin _is-page-wide {
    @media (min-width: em(900)) {
        @content;
    }
}
@mixin _page--has-no-flexbox {
    @supports ( not ((-moz-flex-wrap: wrap) or (flex-wrap: wrap)) ) {
        @content;
    }
    html.has-no-flexbox & {
        @content;
    }
}

@mixin page {
    @include _is-page-wide {
        @include display(flex);
        @include flex-wrap(wrap);
        @include justify-content(center);
    
        > * {
            @include flex(1 100%);
            width: 100%;
        }
        
        @include _page--has-no-flexbox {
            @include display(block);
        }
    }
}
@mixin page__content {
    @include thef-space(padding-left padding-right);
    @include box-sizing(border-box);
    
    margin: { left: auto; right: auto; }
    max-width: $page-maxwidth / 100 * 60;
    
    @include _is-page-wide {
        max-width: $page-maxwidth;
    }
    
    @include _page--has-no-flexbox {
        max-width: $page-maxwidth / 100 * 60;
    }
}
@mixin page__content--column($content: null) {
    @include _is-page-wide {
        margin: { left: 0; right: 0; }
        
        @if $content == "main" {
            @include flex(1 60%);
            width: 60%;
            max-width: $page-maxwidth / 100 * 60;
        }
        @if $content == "aside" {
            @include flex(1 40%);
            width: 40%;
            max-width: $page-maxwidth / 100 * 40;
        }
        @if $content == "extended" {
            @include flex(1 80%);
            width: 80%;
            max-width: $page-maxwidth / 100 * 80;
        }
        
        @include _page--has-no-flexbox {
            margin: { left: auto; right: auto; }
            width: 100%;
            max-width: $page-maxwidth / 100 * 60;
        }
    }
}