@mixin _is-page-wide {
    @media (min-width: em(900)) {
        @content;
    }
}
@mixin _page--has-no-flexbox {
    html.has-no-flexbox & {
        @content;
    }
}

@mixin page {
    
    @include display(flex);
    @include flex-direction(column);
    
    min-height: 100vh;
    
    @include _page--has-no-flexbox {
        @include display(block);
    }
}
@mixin page__body($content: null) {

    @include flex(1);
    
    @media (min-width: em(900)) {
        @include thef-space(margin-bottom, 2);
    }
}
@mixin page__content {

    @include thef-center;
    @include thef-space(padding-left padding-right);
    @include box-sizing(border-box);
    
    max-width: $page-maxwidth / 100 * 60;
    
    @include _page--has-no-flexbox {
        max-width: $page-maxwidth / 100 * 60;
    }
}
@mixin page__content--wide {
    @include _is-page-wide {
        max-width: $page-maxwidth;
    }
}
@mixin page__content--wider {
    @include _is-page-wide {
        max-width: $page-maxwidth / 100 * 150;
    }
}
@mixin page__content--row {

    @include _is-page-wide {
    
        @include thef-grid(center);
    }
}
@mixin page__content--column($content: null) {
    @include _is-page-wide {
    
        @include thef-grid__item(1 1);
        
        @if $content == "main" {
            @include thef-grid__item(3 5);
        }
        @if $content == "aside" {
            @include thef-grid__item(2 5);
            @include box-sizing(border-box);
            @include thef-space(padding-left, 2);
        }
    }
}