/**
 * Maintains the aspect ratio of the block it's been applied.
 */

$ratio-1-max: 302 400;
$ratio-1-min: 0 $base-margin / 2;
$ratio-2-max: 620 400;
$ratio-2-min: 0 0;
$ratio-3-max: 620 550;
$ratio-3-min: 0 0;

// Private mixins not to be used externally
@mixin l-ratio($large-size, $small-size: 0 0) {
    @include ratio($large-size, $small-size);
    position: relative;
    overflow: hidden;
}
@mixin l-ratio-crop--center() {
    top: 50%;
    left: 50%;
    position: absolute;
    @include transform(translate(-50%, -50%));
}
@mixin l-ratio-crop--middle($large-size, $small-size: 0 0) {
    $ratio-width: nth($large-size, 1) + nth($small-size, 1);
    $ratio-height: nth($large-size, 2) + nth($small-size, 2);
    $ratio-perc: percentage(($ratio-height - $ratio-width) / $ratio-width);
    width: 100 + $ratio-perc;
}
@include media-generate('.l-ratio--1') {
    @include l-ratio($ratio-1-max, $ratio-1-min);
    .l-ratio-crop--center {
        @include l-ratio-crop--center;
    }
    .l-ratio-crop--middle {
        @include l-ratio-crop--center;
        @include l-ratio-crop--middle($ratio-1-max, $ratio-1-min);
    }
}
@include media-generate('.l-ratio--2') {
    @include l-ratio($ratio-2-max, $ratio-2-min);
    .l-ratio-crop--center {
        @include l-ratio-crop--center;
    }
}
@include media-generate('.l-ratio--3') {
    @include l-ratio($ratio-3-max, $ratio-3-min);
    .l-ratio-crop--center {
        @include l-ratio-crop--center;
    }
}
