/**
 * Shutter/info box that displays more information.
 */

@include media-generate('.l-shutter-target') {
    overflow: hidden;
    
    &.is-transitioned {
        height: 0;
        opacity: 0;
    }
    &.has-transitions {
        @include transition(height 250ms, opacity 250ms);
    }
}
