/**
 * Custom table definition.
 */

.l-table {
    width: 100%;
    display: table;
}
.l-table-row {
    display: table-row;
}
.l-table-cell {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.l-table-cell--expand {
    @extend .l-table-cell;
    width: 100%;
}
.l-table-cell--nowrap {
    @extend .l-table-cell;
    white-space: nowrap;
}
.l-table-cell--align-left {
    @extend .l-table-cell;
    text-align: left;
}
.l-table-cell--align-center {
    @extend .l-table-cell;
    text-align: center;
}
.l-table-cell--align-right {
    @extend .l-table-cell;
    text-align: right;
}
.l-table-cell--valign-top {
    @extend .l-table-cell;
    vertical-align: top;
}
.l-table-cell--valign-middle {
    @extend .l-table-cell;
    vertical-align: middle;
}
.l-table-cell--valign-bottom {
    @extend .l-table-cell;
    vertical-align: bottom;
}
