/*
 * base options
 */

$base-font-size:   18px;
$base-line-height: 24px;
$base-space:       $base-line-height; // 2 3 4 6 8 12

/*
 * custom options
 */

$base-color--fg: #343434;
$base-color--bg: #f3f3f3;

$altern-color: #f4bf75;
$header-color: ($base-color--fg darken($base-color--bg, 10%));
$footer-color: (darken($base-color--bg, 10%) $base-color--fg);

$page-maxwidth: 1200px;