img {
    @include thef-fluidmedia;
}
a[href="#navigation"] {
    @include menuicon($altern-color, nth($header-color, 1), nth($header-color, 2));
}
[role="navigation"] {
    @include navigation;
    > ul {
        @include navigation__list;
    }
}
[role="main"],
[role="navigation"],
[role="complementary"] {
    > ul,
    > ol {
        @extend %thef-reset, %thef-space;
    }
}
li > article,
[role="complementary"] {
    h1 {
        font-size: 1.5em; // matches h2 font-size
    }
}
[role="complementary"] article h1 {
    font-size: 1.17em; // matches h3 font-size
    line-height: inherit; // matches default line-height
}



.header {
    @include header;
}
.header__menu {
    @include header__menu;
}
.header__title {
    @include header__title;
}



.footer {
    @include footer;
}



.gallery {
    figure,
    figcaption > p {
        @extend %thef-reset;
    }
    @extend %thef-space;
    @include gallery;
}
.gallery__list {
    @extend %thef-reset;
    @include gallery__list;
}
.gallery__image {
    @include gallery__image;
}
.gallery__image--small {
    @include gallery__image--small;
}
.gallery__image--media {
    @include gallery__image--media;
}
.gallery__image--large {
    @include gallery__image--large;
}
.gallery__image--extra {
    @include gallery__image--extra;
}
.gallery__caption {
    @include gallery__caption;
}



.page {
    @include page;
}
.page__body {
    @include page__body;
}
.page__content {
    @include page__content;
}
.page__content--row {
    @include page__content--row;
}
.page__content--wide {
    @include page__content--wide;
}
.page__content--wider {
    @include page__content--wider;
}
.page__content--column--main {
    @include page__content--column(main);
}
.page__content--column--aside {
    @include page__content--column(aside);
}