a[href="#navigation"] {
    @include menuicon($menu-color, nth($header-color, 1), nth($header-color, 2));
    vertical-align: bottom;
}



[role="banner"] {
    @include header;
    > p {
        @include header__menu;
    }
    > h1 {
        @include header__title;
    }
}

[role="contentinfo"] {
    @include footer;
}

[role="navigation"] {
    @include navigation;
    > ul {
        @include navigation__list;
    }
}

[role="navigation"],
[role="complementary"] {
    > ul,
    > ol {
        @extend %_reset;
    }
}

[role="complementary"] {
    h1 {
        font-size: 1.17em;
    }
    article h1 {
        font-size: 1em;
    }
    img {
        @include thef-fluidmedia;
    }
}



body {
    @include page;
}
[role="main"],
[role="banner"] > *,
[role="navigation"],
[role="complementary"] {
    @include page__content;
}
[role="main"] {
    @include page__content--column(main);
}
[role="complementary"] {
    @include page__content--column(aside);
}