<footer role="contentinfo" id="navigation">
    <nav role="navigation">
        <ul>
            <li><b><a href="/">home</a></b></li>
            <li><a href="/">projects</a></li>
            <li><a href="/">curriculum vitae</a></li>
        </ul>
    </nav>
</footer>