<div id="navigation">
<% if defined?(breadcrumb) %>
    <div class="page__content page__content--wide">
        <%= partial "layouts/breadcrumb", :locals => { :breadcrumb => breadcrumb } %>
    </div>
<% end %>
    <footer role="contentinfo" class="footer">
        <nav role="navigation" class="page__content page__content--wide">
            <ul>
            <% { '/index.html' => 'About', '/projects.html' => 'Projects', '/resume.html' => 'Résumé'}.each do |path, text| %>
                <li>
                    <%= (navigation[:active] == path) ? '<b>' + link_to(text, path) + '</b>' : link_to(text, path) %>
                </li>
            <% end %>
            </ul>
        </nav>
    </footer>
</div>