<footer role="contentinfo" id="navigation">
    <nav role="navigation">
        <ul>
        <% { '/' => 'Home', '/projects.html' => 'Projects', '/resume.html' => 'Résumé'}.each do |path, link| %>
            <li>
                <%= (navigation[:active] == path) ? '<b>' + link_to(link, path) + '</b>' : link_to(link, path) %>
            </li>
        <% end %>
        </ul>
    </nav>
</footer>