<header role="banner" class="header">
    <div class="page__content page__content--wide">
    	<p class="header__menu"><a href="#navigation" title="main menu">Menu</a></p>
    	<h1 class="header__title"><%= title %></h1>
    </div>
</header>