<% content_for(:title, "Curriculum vitae - Sergio Agosti, Open-source Web Developer") %>

<%= partial "layouts/header", :locals => { :title => "Curriculum vitae" } %>

<main role="main">
    
    ...

</main>

<%= partial "layouts/footer", :locals => { :navigation => { :active => '/curriculum-vitae.html' } } %>