<% content_for(:title, "#{project.name} web project - Sergio Agosti, Open-source Web Developer") %>

<%= partial "layouts/header", :locals => { :title => project.name } %>

<main role="main">
    
    ...

</main>

<%= partial "layouts/footer", :locals => { :navigation => { :active => '/projects.html' } } %>