<% content_for(:title, "Résumé - Sergio Agosti") %>

<%= partial "layouts/header", :locals => { :title => "Résumé" } %>

<div class="page__body">

    <div class="page__content page__content--wide">

        <main role="main" class="curriculum">
            
            <h2>Personal information</h2>
        	<dl>
        		<dt>Name</dt>
        		<dd>Sergio Agosti</dd>
                
        		<dt>Address</dt>
        		<dd>
        			London<br>United Kingdom
        		</dd>
                
        		<dt>Telephone</dt>
        		<dd>+44 (0) 758 886 7681</dd>
        		
        		<dt>E-mail</dt>
        		<dd><a href="mailto:me@sergioagosti.org">me@sergioagosti.org</a></dd>
        		
                <dt>Web site</dt>
        		<dd><a href="http://www.sergioagosti.org/">www.sergioagosti.org</a></dd>
        		
        		<dt>Nationality</dt>
        		<dd>Italian</dd>
        	</dl>
        	
        	<h2>Work experience</h2>
        	<dl>
        		<dt>Dates</dt>
        		<dd>December 2011 to present</dd>
        		
        		<dt>Position held</dt>
        		<dd>Senior Web Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        			<ul>
        				<li>Developing web sites using cutting-edge technologies, responsive web design and CSS3 animations</li>
        				<li>Front-end website developing focusing on multidevice support (responsive web design) and fast performance</li>
        			</ul>
        		</dd>
        		
        		<dt>Languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML5, CSS3, JavaScript (AJAX), PHP</li>
        				<li>SASS, jQuery, Google APIs, Middleman App</li>
        				<li>Yii, Drupal, Wordpress</li>
        				<li>Git</li>
        				<li>Photoshop, iDraw, Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        			The Frameworks<br>
        			Nutmeg House<br>
        			60 Gainsford Street<br>
        			London<br>
        			SE1 2NY<br>
        			United Kingdom<br>
        			+44 (0)20 3195 5220<br>
        			<a href="http://www.theframeworks.com/">www.theframeworks.com</a>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>May to December 2011</dd>
        		
        		<dt>Position held</dt>
        		<dd>Front-end Web Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        			<ul>
        				<li>Developing blogs based on a proprietary platform (Blogsmith)</li>
        				<li>Understanding the requirements for each blog</li>
        				<li>Developing the blogs' structure according to mock-ups and design specifications</li>
        				<li>Optimising blogs pages for speed and performance</li>
        				<li>Collaborating with other front-end web developers and a QA team based in Bangalore (India)</li>
        			</ul>
        		</dd>
        		
        		<dt>Languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, CSS, JavaScript (AJAX), PHP, JSON, XML</li>
        				<li>Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        			AOL Advertising<br>
        			Shropshire House<br>
        			11-20 Capper Street<br>
        			London<br>
        			WC1E 6JA<br>
        			United Kingdom<br>
        			+44 (0) 20 7492 1000<br>
        			<a href="http://advertising.aol.co.uk/">advertising.aol.co.uk</a>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>March to April 2011</dd>
        		
        		<dt>Position held</dt>
        		<dd>Freelance Web Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        		    Working on an online air-passenger alerts service project
        			<ul>
        				<li>Working on the HTML/CSS code of the static website, optimising it and making it W3C compliant</li>
        				<li>Developing a JS images carousel and a JS/CSS drop-down menu (jQuery)</li>
        				<li>Migrating the website to CodeIgniter (PHP framework)</li>
        				<li>Developing login/registration/lost password processes</li>
        				<li>Developing the prototype of online alerts services</li>
        			</ul>
        		</dd>
        		
        		<dt>Languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, CSS, JavaScript (AJAX), PHP, MySQL, JSON, XML</li>
        				<li>jQuery, jQuery UI, CodeIgniter</li>
        				<li>Photoshop, Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>March 2009 to February 2011</dd>
        		
        		<dt>Position held</dt>
        		<dd>Web Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        			<ul>
        				<li>Development of a multiuser, multilanguage modern web application for online booking and task management</li>
        				<li>Maintenance of web portals based on Joomla 1.5</li>
        				<li>Maintenance of web forums based on vBulletin 4</li>
        				<li>Maintenance of blogs based on WordPress 3</li>
        			</ul>
        		</dd>
        		
        		<dt>Languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, CSS, JavaScript (AJAX), JSON, XML, CSV, RSS, PHP, MySQL</li>
        				<li>jQuery, jQuery UI, jQTouch, CodeIgniter, phpQuery, Google Maps API, Joomla, WordPress 3</li>
        				<li>Mercurial SCM</li>
        				<li>CentOS on cPanel, Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        		    Sognando Ltd<br>
        		    Sophia House<br>
        			76-80 City Road<br>
        			London<br>
        			EC1Y 2BJ<br>
        			United Kingdom<br>
        			+44 (0) 20 8123 0347<br>
        			<a href="http://www.sognandolondra.com/">www.sognandolondra.com</a>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>January to February 2009</dd>
        		
        		<dt>Position held</dt>
        		<dd>Web Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>Maintenance and development of international tourist industry web portals</dd>
        		
        		<dt>Languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, CSS, JavaScript, PHP, MySQL</li>
        				<li>Photoshop, Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        		    MediaCom Group srl<br>
        			Piazza dei Signori 44<br>
        			35139 Padova (PD)<br>
        			Italy<br>
        			<a href="http://www.mediacom-group.it/">www.mediacom-group.it</a>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>March 2006 to December 2008</dd>
        		
        		<dt>Position held</dt>
        		<dd>Director and Founder</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        			<ul>
        			    <li>Software Developer and System Administrator</li>
        				<li>Front-end (client side/UI) and back-end (server side/DB) developer for websites and web-based applications</li>
        				<li>Development of an Ext JS/PHP web framework/platform</li>
        				<li>Database design and development for desktop applications</li>
        			</ul>
        		</dd>
        		
        		<dt>Employed languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, XML, CSS, JavaScript, JSON, AJAX, Ext JS, prototype, scriptaculous, PHP, MySQL, SQLite</li>
        				<li>Drupal</li>
        				<li>Debian GNU/Linux, Mac OS X</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        			omnidea srl<br>
        			Galleria Matteotti, 9<br>
        			30172 Venezia (VE)<br>
        			Italy<br>
        			<a href="http://www.omnidea.it/">www.omnidea.it</a>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>September 2003 to August 2004</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>
        			<ul>
        				<li>Receptionist and secretary</li>
        				<li>Cook (for about 50 people per day - fixed menu)</li>
        				<li>Responsible for food ordering and storage</li>
        				<li>Responsible for cleaning and maintaining a professional kitchen</li>
        				<li>Waiter</li>
        				<li>Driver</li>
        			</ul>
        		</dd>
        		
        		<dt>Name and address of employer</dt>
        		<dd>
        		    Ca' Edimar<br>
        			Via Due Palazzi 43<br>
        			Padova (PD)<br>
        			Italy
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>Civil Service (alternative to Military Service)</dd>
        		
        	</dl>
        	<dl>
        		<dt>Dates</dt>
        		<dd>January 2000 to June 2005</dd>
        		
        		<dt>Position held</dt>
        		<dd>Freelance Software Developer</dd>
        		
        		<dt>Main activities and responsibilities</dt>
        		<dd>Web sites designer and developer</dd>
        		
        		<dt>Employed languages and technology</dt>
        		<dd>
        			<ul>
        				<li>HTML, JavaScript, PHP, MySQL</li>
        				<li>Macromedia Flash</li>
        				<li>Mandrake GNU/Linux, Gentoo GNU/Linux, Windows XP</li>
        			</ul>
        		</dd>
        		
        		<dt>Sector</dt>
        		<dd>IT</dd>
        		
        	</dl>
        	
        	<h2>Education and training</h2>
        	<dl>
        		<dt>Dates</dt>
        		<dd>February 2006</dd>
        		
        		<dt>Title of qualification awarded</dt>
        		<dd>Bachelor of Science Degree in Computer Science</dd>
        		
        		<dt>Name and type of organisation providing education and training</dt>
        		<dd>University "Ca' Foscari" of Venice, Italy</dd>
        	</dl>
        	
        	<h2>Personal skills and competences</h2>
        	<dl>
        		<dt>Mother tongue</dt>
        		<dd>Italian</dd>
        		
        		<dt>Other languages</dt>
        		<dd>English - Fluent</dd>
        		
        		<dt>Computer skills and competences</dt>
        		<dd>
        			<ul>
        				<li>Advanced knowledge of front-end web development with HTML/XHTML<sup>1</sup>, CSS<sup>1</sup>, JavaScript<sup>2</sup></li>
        				<li>Advanced knowledge of back-end web development with PHP<sup>3</sup>, SQL<sup>4</sup></li>
        				<li>Thorough knowledge of SASS preprocessor<sup>5</sup></li>
        				<li>Thorough knowledge of jQuery/jQuery UI JS framework<sup>6</sup></li>
        				<li>Thorough knowledge of CodeIgniter PHP MVC framework<sup>7</sup></li>
        				<li>Thorough knowledge of MVC and OO design patterns</li>
        				<li>Thorough knowledge of Mac OS X and GNU/Linux operating systems use and maintenance</li>
        				<li>Good knowledge of Yii PHP MVC framework<sup>8</sup></li>
        				<li>Good knowledge of Ext JS framework<sup>9</sup></li>
        				<li>Good knowledge of prototype and scriptaculous JS frameworks</li>
        				<li>Good knowledge of XML/JSON formats</li>
        				<li>Good knowledge of Debian GNU/Linux server administration<sup>10</sup></li>
        				<li>Basic knowledge of GIT SCM</li>
        				<li>Basic knowledge of Mercurial SCM<sup>11</sup></li>
        				<li>Basic knowledge of image editing (GIMP/Photoshop)</li>
        				<li>Basic knowledge of Drupal and Wordpress use and programming</li>
        				<li>Basic knowledge of Java, C, C++ programming</li>
        				<li>Basic knowledge of REALbasic<sup>12</sup> cross-platform programming</li>
        				<li>Basic knowledge of Microsoft Office and OpenOffice/LibreOffice</li>
        				<li>Basic knowledge of Macromedia Flash</li>
        			</ul>
        			<ol>
        				<li>compliant to W3C standards</li>
        				<li>including AJAX</li>
        				<li>especially PHP 5 OOP</li>
        				<li>especially MySQL 5 (including basic Stored Procedure programming) and SQLite</li>
        				<li><a href="http://sass-lang.com/">sass-lang.com</a></li>
        				<li><a href="http://jquery.com/">jquery.com</a></li>
        				<li><a href="http://codeigniter.com/">codeigniter.com</a></li>
        				<li><a href="http://yiiframework.com/">yiiframework.com</a></li>
        				<li>version 2, <a href="http://www.sencha.com/">www.sencha.com</a></li>
        				<li>especially Web service (Apache), Mail service (Postfix/Dovecot), Ftp service (Pure-ftp)</li>
        				<li><a href="http://mercurial.selenic.com/">mercurial.selenic.com</a></li>
        				<li><a href="http://www.realsoftware.com/">www.realsoftware.com</a></li>
        			</ol>
        		</dd>
        	
        		<dt>Organisational skills and competences</dt>
        		<dd>Precise. Good attention to detail. Minimalist. Prefer the simple, stable and essential rather than the confusingly superfluous.</dd>
        	
        		<dt>Artistic skills and competences</dt>
        		<dd>Classical guitar amateur player</dd>
        	
        		<dt>Other skills and competences</dt>
        		<dd>Black belt in karate</dd>
        	
<!--
        		<dt>Driving license</dt>
        		<dd>B category, no vehicle</dd>
-->
        	</dl>
        
        </main>
        
    </div>

</div>

<%= partial "layouts/footer",
    :locals => {
        :navigation => { :active => '/resume.html' },
        :breadcrumb => [
            { :text => "Sergio", :path => '/index.html' },
            { :text => "Résumé" }
        ]
    }
%>