.breadcrumb {
    @extend %thef-space;
    @include thef-box;
    @include thef-space(padding-top);
    @include page__content;
    
    background-color: nth($header-color, 2);
    font-size: smaller;
}
.breadcrumb__tree {
    @extend %thef-reset, %thef-space;
    
    > * + * {
        margin-left: 1em;
        & + * {
            margin-left: 2em;
            & + * {
                margin-left: 3em;
            }
        }
    }
    
    @media (min-width: em(600)) {
        > * {
            margin-left: 0;
            display: inline-block;
            
            & + :before {
                content: "/ ";
            }
        }
    }
}