%fluidmedia {
    height: auto;
    display: block;
    max-width: 100%;
    
    &%fluidmedia--full {
        width: 100%;
        max-width: none;
    }
}
img, video {
    &%fluidmedia {
        width: auto;
    }
}
img%fluidmedia {
    -ms-interpolation-mode: bicubic;
}
