@mixin footer {
    @include thef-box;
    @include thef-space(padding-top);
    @include thef-space(border-top-width, 1/3);
    
    border-top: {
        style: solid;
        color: $menu-color;
    }
    background-color: nth($footer-color, 2);
    
    @media (min-width: em(900)) {
        @include thef-space(margin-top padding-bottom, 2);
    }
}