@mixin footer {
    @include box;
    @include padding(top);
    
    background-color: nth($footer-color, 2);
    border-top: 1/3 * $base-margin solid $menu-color;

    @media (min-width: em(900)) {
        margin-top: 2 * $base-margin;
        padding-bottom: 2 * $base-margin;
    }
}