@mixin header {
    @include thef-box;
    @include thef-space(border-bottom-width, 1/3);
    @include thef-space(padding-top margin-bottom);
    
    border-bottom: {
        style: solid;
        color: nth($header-color, 1);
    }
    
    &, :link, :visited {
        color: nth($header-color, 1);
    }
    background-color: nth($header-color, 2);
    
    @media (min-width: em(900)) {
        @include thef-space(margin-bottom, 3);
    }
}
@mixin header__menu {
    text-align: right;
}
@mixin header__title {
    font-weight: normal;
    letter-spacing: -0.025em;
    
    @media (min-width: em(600)) {
        font-size: 2.5em;
    }
    @media (min-width: em(900)) {
        font-size: 3em;
        @include thef-space(padding-top padding-bottom, 3);
    }
}