@mixin menubutton($color: $base-color, $background-color: $base-background-color, $lines-color: $base-background-color) {

    $unit: 1/6 * $base-margin / $base-font-size * 1em;

    display: inline-block;
    background-color: $background-color;
    padding: 1.5 * $unit;
    border-top: $unit solid $color;
    
    &:before, &:after {
        content: "";
        display: block;
        width: 8 * $unit;
        height: $unit;
    }
    &:before {
        background-color: $lines-color;
        margin-bottom: $unit;
    }
    &:after {
        border: {
            top: $unit solid $lines-color;
            bottom: $unit solid $lines-color;
        }
    }
}