@mixin menuicon($color: $base-color, $background-color: $base-background-color, $lines-color: $base-background-color) {

    @include thef-color($lines-color, $background-color);

    $unit: 1/6 * $base-space / $base-font-size * 1em;

    display: inline-block;
    padding: 1 * $unit 2 * $unit;
    border: {
        bottom: 0;
        top: $unit solid $color;
    };
    
/*
    &:before, &:after {
        content: "";
        display: block;
        width: 8 * $unit;
        height: $unit;
    }
    &:before {
        background-color: $lines-color;
        margin-bottom: $unit;
    }
    &:after {
        border: {
            top: $unit solid $lines-color;
            bottom: $unit solid $lines-color;
        }
    }
*/
}