@mixin navigation {
    a {
        display: block;
        text-decoration: none;
        background-color: nth($footer-color, 2);
        color: nth($footer-color, 1);
        font-weight: 300;
        
        @include thef-space(padding-top padding-bottom, 1/4);
        @include thef-space(padding-left padding-right, 1/2);
        @include transition(color 400ms, background-color 400ms);
    }
    b a {
        font-weight: normal;
    }
    b a,
    a:hover {
        background-color: nth($footer-color, 1);
        color: nth($footer-color, 2);
    }
}
@mixin navigation__list {
    > * + * {
        @include thef-space(margin-top, 1/4);
    }
    
    @media (min-width: em(400)) {
        @include display(flex);
        
        > * + * {
            margin-top: 0;
            @include thef-space(margin-left, 1/4);
        }
        
        html.has-no-flexbox & {
            @include thef-box(left);
            
            > * {
                float: left;
            }
        }
    }
}