//**
//* Set foreground/background colour of a container.
//*/
@mixin thef-color($foreground, $background: null, $links: $foreground) {
    & {
        color: $foreground;
    }
    @if type-of($background) == color {
        & {
            background-color: $background;
        }
    }
    @if type-of($links) == color or (length($links) == 2 and type-of(nth($links, 1)) == color and type-of(nth($links, 2)) == color) {
        &:link, &:visited, :link, :visited {
            @if length($links) == 2 {
                color: nth($links, 1);
                &:hover, &:focus {
                    color: nth($links, 2);
                }
            }
            @else {
                color: $links;
            }
        }
    }
}