//**
//* This is a fully responsive grid
//*
//* - fluid
//* - nestable
//* - semantic
//* - responsive
//*      - by default, you'll have s (small), m (medium), l (large) and x (extralarge) grids
//*      - by default, you'll have 1 to 12 columns grids
//* - optional vertical gutter
//*/

/* GLOBAL OPTIONS */
$grid-breakpoints: (
    's'    '(max-width: 500px)',                        /* small devices only       */
    'm'    '(min-width: 501px) and (max-width: 850px)', /* medium devices only      */
    'm-up' '(min-width: 501px)',                        /* medium devices and above */
    'm-to' '(max-width: 850px)',                        /* medium devices and below */
    'l'    '(min-width: 851px) and (max-width: 1300px)',/* large devices only       */
    'l-up' '(min-width: 851px)',                        /* large devices and above  */
    'l-to' '(max-width: 1300px)',                       /* large devices and below  */
    'x'    '(min-width: 1301px)'                        /* extra-large devices only */
) !default;
$grid-columns: 1 2 3 4 5 6 7 8 9 10 11 12 !default;
$grid-space: $base-space !default;
$grid-is-semantic: true !default;
$grid-notify-js: false !default;
$grid-define-the-all-media: true !default;



@import "box", "center";

// support browsers which don't (fully) support flexbox
@mixin _grid-noflex {
    html.has-no-flexbox & {
        @content;
    }
    @supports ( not ((-moz-flex-wrap: wrap) or (flex-wrap: wrap)) ) {
        @content;
    }
}
// generates the grid columns
@mixin _grid-generate($grid-breakpoint-size) {
    // generates the elements for each grid size
    @each $i in $grid-columns {
        // generates the elements for this grid size
        $j: 1;
        @while $j <= $i {
        
            $ratio: percentage($j/$i);
            
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--#{$j}-#{$i} {
                width: $ratio;
            }
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--skip--#{$j}-#{$i} {
                margin-left: $ratio;
            }
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--pull--#{$j}-#{$i},
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--push--#{$j}-#{$i} {
                position: relative;
            }
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--pull--#{$j}-#{$i} {
                right: $ratio;
            }
            #{$_grid-ct}grid__#{$grid-breakpoint-size}--push--#{$j}-#{$i} {
                left: $ratio;
            }
            
            $j: $j + 1;
        }
    }
    // this column is centered
    #{$_grid-ct}grid__#{$grid-breakpoint-size}--center {
        @include thef-center;
    }
    // this column is centered when in a guttered grid
    #{$_grid-ct}grid__#{$grid-breakpoint-size}--center--gutter {
        @include thef-center;
        @include transform(translateX(-.5 * $grid-space));
    }
    // this column is removed
    #{$_grid-ct}grid__#{$grid-breakpoint-size}--hidden {
        display: none;
    }
    // this column is aligning to the right
    #{$_grid-ct}grid__#{$grid-breakpoint-size}--revdir {
        margin-left: auto;
        @include _grid-noflex {
            float: right;
        }
    }
    // this is the first column of a row
    #{$_grid-ct}grid__#{$grid-breakpoint-size}--newrow {
        clear: both;
    }
}

//* ========================================================================== */
//* ========================================================================== */
//* ========================================================================== */

//**
//* Defines a grid container.
//*
//* @param $grid-options some options for the grid (for example, gutter)
//*/
@mixin thef-grid($options...) {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-content(flex-start);
    
    @if length($options) > 0 {
        @each $option in $options {
        
            @if $option == gutter {
                margin-left: -1 * $grid-space;
                > * {
                    padding-left: $grid-space;
                    @include box-sizing(border-box);
                }
            }
            @if $option == center {
                @include justify-content(center);
            }
        
        }
    }
    
    /* keep this block here at the end otherwise IE8 won't be happy :| */
    @include _grid-noflex {
        display: block;
        @include thef-box(both);
        > * {
            float: left;
        }
    }
}
//**
//* Defines a grid column.
//*
//* @param $grid-column the column definition in the form A B,
//*                     where A is the width of the column and B is the number of columns;
//*                     if in a different form, it is assumed the passed value are $grid-options
//*      e.g. 1 3 for a 1/3 (one third) column
//* @param $grid-options optional options for the column
//*      e.g. newrow, skip 1 5, pull 2 3, center, hidden
//*/
@mixin thef-grid__column($column, $options...) {
    /* if the first parameter is in the form <number> <number> e.g. 1 3 ... */
    @if length($column) == 2
        and
        type_of(nth($column, 1)) == number
        and
        unitless(nth($column, 1))
        and
        type_of(nth($column, 2)) == number
        and
        unitless(nth($column, 2))
    {
        width: percentage(nth($column, 1) / nth($column, 2));
    }
    /* else it is assumed the first parameter is actually a lost of options */
    @else {
        $options: $column;
    }
    
    @each $option in $options {
        @if length($option) == 3 {
        
            @if nth($option, 1) == skip {
                margin-left: percentage(nth($option, 2) / nth($option, 3));
            }
            @if nth($option, 1) == pull or nth($option, 1) == push {
                position: relative;
            }
            @if nth($option, 1) == pull {
                right: percentage(nth($option, 2) / nth($option, 3));
            }
            @if nth($option, 1) == push {
                left: percentage(nth($option, 2) / nth($option, 3));
            }    
        }
        @else {
            
            @if $option == center {
                @include thef-center;
            }
            @if $option == center--gutter {
                @include thef-center;
                @include transform(translateX(-.5 * $grid-space));
            }
            @if $option == hidden {
                display: none !important;
            }
            @if $option == revdir {
                margin-left: auto;
                @include _grid-noflex {
                    float: right;
                }
            }
            @if $option == newrow {
                @include _grid-noflex {
                    clear: both;
                }
            }
            
        }
    }
}


//* ========================================================================== */
//* ========================================================================== */
//* ========================================================================== */

//**
//* general usage
//*
//* .grid is the grid container
//* .grid__A--B-C is a column with a ratio of B:C for the A size grid
//*      e.g. .grid__m--1-3 is a column of 1:3 (one third) for the m size grid
//* .grid__A--skip--B-C is a column with B on C empty space before for the A size grid
//* .grid__A--pull--B-C is a column shifted of B on C on the left for the A size grid
//* .grid__A--push--B-C is a column shifted of B on C on the right for the A size grid
//* .grid__A--newrow is a first line column for the A size grid
//*      this ensures the column starts on a new line
//* .grid__A--center is a centered column
//*      this column will be the only one of its row
//*
//* Markup example:
//*
// 
// <grid-container class="grid">
//     <grid-column class="grid__l--1-3 grid__x--1-5"></grid-column>
//     <grid-column class="grid__l--2-3 grid__x--2-5"></grid-column>
//     <grid-column class="grid__l--1-2 grid__l--newrow grid__x--2-5"></grid-column>
//     <grid-column class="grid__l--1-2 grid__x--newrow"></grid-column>
//     ...
// </grid-container>
//
//*
//* grid with gutter (defined in $grid-space)
//
// <grid-container class="grid--gutter">
//    ...
//
//* semantic markup/style example
//*
//* HTML 
//
// <main>
//     <article></article>
//     <aside></aside>
// </main>
//
//*
//* SASS
//
// main {
//     @extend %grid;
// }
// main > article {
//     @extend %grid__m--1-2;
//     @extend %grid__l--2-3;
//     @extend %grid__x--3-4;
// }
// main > aside {
//     @extend %grid__m--1-2;
//     @extend %grid__l--1-3;
//     @extend %grid__x--1-4;
// }
//
//* grid with gutter (no need to @extend %grid as well)
//
// main {
//     @extend %grid--gutter;
// }

//*
//*/

// grid class-type: this allows the use of 'traditional' or 'silent' classes
$_grid-ct: if($grid-is-semantic, unquote("%"), unquote("."));

// define the style of the grid container
#{$_grid-ct}grid {
    @include thef-grid;
}
#{$_grid-ct}grid--gutter {
    @include thef-grid(gutter);
}

//**
//* This will notify JavaScript for changes on the grid layout when resizing the browser's window
//*
//* See http://css-tricks.com/media-query-change-detection-in-javascript-through-css-animations/
//*/
@if $grid-notify-js {
    #{$_grid-ct}grid--notify-js {
        @include animation-duration(1ms);
    }
}

// define the grids outside breakpoints
@if $grid-define-the-all-media {
    @include _grid-generate('all');
}

// define the grids for each breakpoint
@each $grid-breakpoint in $grid-breakpoints {

    $grid-breakpoint-size: nth($grid-breakpoint, 1);
    $grid-breakpoint-rule: nth($grid-breakpoint, 2);
    $grid-breakpoint-anim: 'grid__media--' + $grid-breakpoint-size;
    
    @if $grid-notify-js {
        @include keyframes($grid-breakpoint-anim) {
            from { clip: rect(1px, auto, auto, auto); }
            to   { clip: rect(0px, auto, auto, auto); }
        }
    }
    
    @media #{nth($grid-breakpoint, 2)} {
        @include _grid-generate($grid-breakpoint-size);
        @if $grid-notify-js {
            #{$_grid-ct}grid--notify-js {
                @include animation-name($grid-breakpoint-anim);
            }
        }
    }
}