//**
//* Applies the default $base-space value to the given property(es).
//*/
@mixin thef-space($properties: margin-bottom, $multiplier: 1, $em-value: false) {
    $value: $base-space * $multiplier;
    
    @if $em-value != false {
        $value: $value / 1px;
        
        @if $em-value != true {
            $value: em($value, $em-value);
        }
        @else {
            $value: em($value);
        }
    }
    
    @each $property in $properties {
        #{$property}: $value;
    }
}